<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		 http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Configure all properties files here, wildcards like *.properties are also allowed -->
    <context:property-placeholder location="file:./config/config.properties"/>

    <!-- Configure all properties files here, wildcards like *.properties are also allowed -->
    <!--<context:property-placeholder location="file:conf/conf.properties" />-->

    <!-- The Spring application context -->
    <bean class="org.ogcs.app.AppContext"/>


    <import resource="mybatis.xml"/>

    <!--  -->
    <context:annotation-config/>
    <!--<context:component-scan base-package="org.okraAx" />-->
    <context:component-scan base-package="org.okraAx.internal"/>
    <context:component-scan base-package="org.okraAx.login.component"/>


</beans>
